In [11]:
import psycopg2

In [12]:
conn=psycopg2.connect(host="localhost",port=5432, database="WineCharcuterieDB",user="postgres",password="postgres")

In [13]:
cur=conn.cursor()

In [18]:
cur.execute("""SELECT countries.country, COUNT(worldmeats.country) as country_freq
            FROM countries
            LEFT JOIN worldmeats ON
            countries.country = worldmeats.country
            GROUP BY countries.country
            ORDER BY country_freq DESC""")
query_results=cur.fetchall()
for item in query_results:
    print(f"{item[0]}: {item[1]}")

Italy: 37
Spain: 22
France: 12
US: 8
Portugal: 8
Germany: 5
Croatia: 5
Bulgaria: 4
Switzerland: 3
Slovenia: 2
Romania: 2
Austria: 2
Serbia: 2
Turkey: 2
Canada: 2
Hungary: 2
Luxembourg: 1
Mexico: 1
South Africa: 1
Brazil: 1
Greece: 1
Lebanon: 0
New Zealand: 0
Uruguay: 0
Czech Republic: 0
Australia: 0
Macedonia: 0
Ukraine: 0
Argentina: 0
England: 0
Georgia: 0
India: 0
Morocco: 0
Moldova: 0
Chile: 0
Israel: 0
Peru: 0

In [12]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

# Wine by country query

In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine=create_engine("postgresql://postgres:postgres@localhost/WineCharcuterieDB")

In [3]:
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
Cheese = Base.classes.cheese
Countries = Base.classes.countries
WineCheesePairingData = Base.classes.winecheesepairingdata
Wines = Base.classes.wines
Wineries = Base.classes.wineries
WorldMeats = Base.classes.worldmeats

In [5]:
session=Session(engine)

## Country Count for World Map Choropleth

In [19]:

countryCount=session.query(Wines.country, func.count(Wines.country)).group_by(Wines.country).order_by(func.count(Wines.country).desc()).all()
for country,count in countryCount:
    print(f"{country}: {count}")

Italy: 37
Spain: 22
France: 12
Portugal: 8
US: 8
Croatia: 5
Germany: 5
Bulgaria: 4
Switzerland: 3
Turkey: 2
Hungary: 2
Slovenia: 2
Romania: 2
Austria: 2
Serbia: 2
Canada: 2
Greece: 1
Luxembourg: 1
Mexico: 1
South Africa: 1
Brazil: 1

## Table Information Query

In [20]:
countryInput=input("What country are we looking at: ")
orderInput=input("What order? (Highest Rated, Lowest Rated, Cheapest, Most Expensive): ")

What country are we looking at: Croatia
What order? (Highest Rated, Lowest Rated, Cheapest, Most Expensive): Highest Rated

In [ ]:
if orderInput = "Highest Rated":
    tableQ=session.query(Wines.country, Wines.points, Wines.price, Wines.title, Wines.Variety)./
            filter(Wines.country=countryInput).order_by(Wines.points.desc()).limit(20)
elif orderInput = "Lowest Rated":
    tableQ=session.query(Wines.country, Wines.points, Wines.price, Wines.title, Wines.Variety)./
            filter(Wines.country=countryInput).order_by(Wines.points).limit(20)
elif orderInput = "Most Expensive":
    tableQ=session.query(Wines.country, Wines.points, Wines.price, Wines.title, Wines.Variety)./
            filter(Wines.country=countryInput).order_by(Wines.price.desc()).limit(20)
elif orderInput = "Cheapest":
    tableQ=session.query(Wines.country, Wines.points, Wines.price, Wines.title, Wines.Variety)./
            filter(Wines.country=countryInput).order_by(Wines.price).limit(20)

##